:root {
    --col-1: #c4e195;
    --col-2: #baa2b1;
    --col-3: #ffa1a9;
    --col-4: #a587f8;
    --col-5: #f8e480;
    --col-6: #80ddab;
    --col-shadow-1: #6c952a;
    --col-shadow-2: #6e5163;
    --col-shadow-3: #bf0010;
    --col-shadow-4: #380bb5;
    --col-shadow-5: #b5990a;
    --col-shadow-6: #28975b;
}

body {
    padding: unset;
    margin: unset;
    background: url(./241213113953.png);
}

#settingWindow {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #0000;
    backdrop-filter: brightness(1);
    position: fixed;
    user-select: none;
    font-family: Manrope;
    transition: .2s;
    display: flex;
    flex-direction: row;
    z-index: 1;
    visibility: hidden;
}

#settingWindow *::-webkit-scrollbar-track {
    background-color: #fff4;
    border-radius: 10px;
}

#settingWindow *::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}

#settingWindow *::-webkit-scrollbar-thumb {
    background-color: #0005;
    border-radius: 10px;
    ;
}

/* 設定非表示アニメーション */
.settingShow #menuItemHolder {
    transform: translateX(0%);
    transition: .2s;
}

.settingShow #menuBodyHolder {
    transform: translateX(0%);
    transition: .2s;
}

#settingWindow.settingShow {
    visibility: visible;
    background: transparent;
    transition: .2s;
    background: #0008;
    backdrop-filter: brightness(.4);
}

/* クリックするとメニュー隠すやつ */
#menuHider {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #0007;
    z-index: 2;
}

/* サイドバー */

#menuItemHolder {
    display: flex;
    flex-direction: column;
    background: #0006;
    min-width: 150px;
    width: 30%;
    max-width: 200px;
    transform: translateX(-100%);
    transition: .2s;
    z-index: 3;
}

.menuSplitter {
    height: 10px;
    background: #0009;
    width: 100%;
}

.menuItem {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid #0006; */
    /* border-bottom: 1px solid #0006; */
    border-right: 5px transparent solid;
}

.menuItemIcon .material-symbols-outlined {
    font-size: 3em !important;
    transform: scale(1);
    transition: .2s;
}

.menuItemTitle {
    font-weight: bolder;
}

.menuSelected {
    border-right: 5px solid white;
}

.menuSelected .menuItemIcon {
    animation: selected .5s infinite;
}

@keyframes selected {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.menuItem:hover {
    background: #fff5;
    cursor: pointer;
}

.menuItem:hover .menuItemIcon .material-symbols-outlined,
.menuItem:hover .menuItemTitle {
    /* color: white; */
    transform: scale(1.3);
    transition: .2s;
}

#quickSetting {
    color: var(--col-1);
}

#crosshairSetting {
    color: var(--col-2);
    ;
}

#cssSetting {
    color: var(--col-3);
    ;
}

#swapperSetting {
    color: var(--col-4);
    ;
}

#adblockSetting {
    color: var(--col-5);
    ;
}

#advancedSetting {
    color: var(--col-6);
    ;
}

#quickSetting:hover {
    text-shadow: 0 0 4px var(--col-shadow-1);
    ;
}

#crosshairSetting:hover {
    text-shadow: 0 0 4px var(--col-shadow-2);
    ;
}

#cssSetting:hover {
    text-shadow: 0 0 4px var(--col-shadow-3);
    ;
}

#swapperSetting:hover {
    text-shadow: 0 0 4px var(--col-shadow-4);
    ;
}

#adblockSetting:hover {
    text-shadow: 0 0 4px var(--col-shadow-5);
    ;
}

#advancedSetting:hover {
    text-shadow: 0 0 4px var(--col-shadow-6);
    ;
}

/* チェックボックスをスイッチにする */
input[type="checkbox"] {
    appearance: none;
    width: 44px;
    height: 24px;
    background-color: #888;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: .2s;
}

input[type="checkbox"]::before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: .2s;
}

input[type="checkbox"]:checked::before {
    content: "";
    height: 20px;
    width: 20px;
    left: 22px;
    transition: .2s;
    border-radius: 4px;
    position: absolute;
}

input[type="checkbox"]:checked {
    background-color: #3d5;
    transition: .2s;
}


/* メニュー本体 */

#menuBodyHolder {
    position: relative;
    width: 100%;
    color: lightgray;
    transform: translateX(100%);
    transition: .2s;
    z-index: 3;
}

#menuBody {
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #252525;
    border-radius: 10px;
    padding: 20px;
    border: 4px #222 solid;
    box-shadow: 4px 4px 5px black;
    max-width: 1000px;
    max-height: 800px;
    overflow-y: scroll;
    z-index: 3;
}

#menuBodyTitle {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    font-weight: bold;
}

#menuBodyItem {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.horizonalLine {
    height: 2px;
    width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #fff2
}

#menuButton {
    appearance: none;
    border: 2px solid #fff3;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    color: lightgray;
    font-weight: bolder !important;
}

#menuButton:hover {
    background: #fff3;
}

/* クロスヘアプレビューの設定 */
#crosshairPreview {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#crosshairPreviewTitle {
    height: 20px;
}

#previewBody {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: #fff2 4px solid;
}

#crosshairPreviewImage {
    max-height: 150px;
}

#nowPath {
    font-size: 10px;
    display: flex;
    flex-direction: inherit;
}

.sizeInput {
    width: 50px;
}

#warn {
    font-size: 12px;
    margin-left: 10px;
    margin-right: auto;
    color: rgb(255, 216, 144);
}

.requireRestart {
    color: #f55;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: unset !important;
}

div#fileNameDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filename {
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
}

#settingWindow:focus {
    outline: unset;
}